#canv00 {
    /* box-shadow: 0px 0px 10px 0px rgb(0, 0, 0,0.5);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    max-width: 550px;
    display: none; */
    cursor: crosshair;
    /*touch-action: none; */
    outline: solid;
    outline-width: 3px;
    outline-color: black;
      

  } 

.myDiv {
    border: 5px outset black;
    background-color: white;
    text-align: center;
} 
#toolbar { 
    position: fixed; 
    top: 50%; left: 0%;  
    align to left / transform: translateY(-50%); 
    padding: 0px; color: white; max-width: 150px; 
    }

#toolbar .item { 
    display: inline-block; float: left;  
    toolbar items stack to left / padding: 15px; border: 
    1px solid #FFF; cursor: pointer; 
    height: 32px; width: 32px; font-family: Arial, FontAwesome; font-size: 24px; 
    }





    table, th, td
{
    border: 1px solid black ;
    border-collapse: collapse;
}
td
{
    width: 24px;
    height: 24px;
}
